body {
    background-color: #A5C882;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
  .container {
    max-width: 1058px;
    margin: 0 auto;
    background-color: #151D3C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  